In [1]:
import pandas as pd 
import numpy as np

In [3]:
a=[10,20,30]
b=[10,20,30,30]

#write fun to find mode mean median

In [53]:
#mode using listname.count(element)
a=[10,20,30,30]
def mo(l):
    b=set(l)
    d=[]
    for i in b:
        c=l.count(i)
        d.append(c)
    print(list(b),d)

    #dict k,value pair 
    e={}
    lb=list(b)
    v=0
    for k,v in lb,d:
        e['k']='v'
    print(e)

In [55]:
mo(a)

[10, 20, 30] [1, 1, 2]

ValueError: too many values to unpack (expected 2)

In [56]:
a={}
for i in a:
    a['k']='v'
a

{}

In [58]:
#panda value_count
s=pd.Series(b)
s

0    10
1    20
2    30
3    30
dtype: int64

In [60]:
new_df=pd.DataFrame(s,columns=['index'])
new_df

   index
0     10
1     20
2     30
3     30

In [64]:
fq=new_df.value_counts()
fq

index
30       2
10       1
20       1
Name: count, dtype: int64

In [90]:
dd=pd.DataFrame(fq)
dd

       count
index
30         2
10         1
20         1

In [84]:
dd['count']

index
30       2
10       1
20       1
Name: count, dtype: int64

In [93]:
dd.iat[2,0]

1